ul.tree{padding: 0;border-top: 1px solid #dfdfdf;}
ul.tree > li{float:left; margin: 10px 20px;font-weight: bold;}
ul.tree > li ul{padding-left: 10px;margin-left: 1em;border-left: 1px dashed #ddd;} 
ul.tree > li li {padding:5px 10px;font-weight: normal;}
ul.tree li ul li{}
.panel-body > div{margin-bottom: 10px;}
.panel-body > div > h4{border-left: 10px solid #dfdfdf;padding-left: 0.5em}