.product-image { background-color: #F1F1F1; text-align: center; max-height: 320px; overflow: hidden; }
.product-image > img { width: 100%; }
.product-image-menu { margin: 3px 0 0 0; }
.product-image-menu > div { padding: 0; }
.product-image-menu .product-image { background-color: #eee; height: 80px; line-height: 80px; overflow: hidden; border: 3px solid #fff; transition: all .2s cubic-bezier(0.175,0.885,0.32,1);
 }
.product-image-menu .product-image:hover { border: 1px solid #ccc; text-shadow: 0 0 3px rgba(0,0,0,0.2); opacity: 0.9; }
.product-property .meta-name { width: 70px; padding-right: 15px; }
.btn-buy .btn { min-width: 120px; }
.product-property h1,.btn-buy { padding-left: 15px; padding-right: 15px; }
@media (min-width: 992px){ .product-property h1,.btn-buy {   padding-left: 0;   padding-right: 0; } .product-property.product-lack-img h1,.product-lack-img .btn-buy { padding-left: 15px;   padding-right: 15px; } }
.article-content { padding:0; }
.header-dividing {margin-top: 20px;}
