.cards {padding: 0; margin: 0;}
.col-card {margin: 0;}
.card {position: relative; margin-bottom: 20px; overflow: visible; min-height: 302px; padding-right: 350px;}
.cards > .col-card:last-child .card {margin-bottom: 0;}
.teamplate-choosed {display: none}
.card.current .teamplate-choosed {display: block; position: absolute; font-size: 28px; color: #fff; background: #229F24; width: 50px; height: 50px; right: 0; top: 0; text-align: center; padding-left: 10px; line-height: 35px; border-bottom-left-radius: 50px; z-index: 99}
.card .card-actions {position: absolute; right: 350px; top: 5px; padding: 10px 20px}
.template-img {width: 350px; position: absolute; right: 0; top: 0; bottom: 0; box-shadow: -1px 0 5px rgba(0,0,0,0.14); background: #f1f1f1}
.themes-tip {display: inline-block; border-radius: 16px; background: #ddd; padding: 6px 12px; position: relative;}
.current-theme-tip {display: none}
.card.current .current-theme-tip {display: inline;}
.themes-list {padding: 6px; border-top: 1px dashed #ddd}
.theme {width: 130px; float: left; cursor: pointer; margin: 6px 10px}
.theme-name {padding: 5px 0; background-color: #f1f1f1}
.theme-card {overflow: hidden; border: 1px solid #aaa; border-radius: 4px; border-radius: 4px; opacity: 0.8; position: relative;}
.theme-card > .icon {position: absolute; right: 0; top: 0; display: none; z-index: 10}
.theme-img {height: 65px; overflow: hidden; opacity: 0.8}
.theme:hover .theme-img {opacity: 1;}
.card-template.current .theme.current > .theme-name {color: #47A447}
.card-template.current .theme.current .theme-card > .icon {position: absolute; right: 0; top: 0; display: block; color: #fff; background: none; width: 0; height: 0; border: 20px solid #229F24; border-left-color: transparent; border-bottom-color: transparent;}
.card-template.current .theme.current .theme-card > .icon:before {position: absolute; right: -15px; top: -15px}
.card-template.current .theme.current .theme-img {border-color: #47A447; opacity: 1}
.card-template.current .theme.current .theme-card {border-color: #47A447; -moz-box-shadow:0px 0px 6px #47A447; -webkit-box-shadow:0px 0px 6px #47A447; box-shadow:0px 0px 6px #47A447; opacity: 1}
.theme-card > .btn-custom {position: absolute; display: none; opacity: 0; left: 45px; top: 20px; z-index: 10; color: #fff!important}
.theme.current .theme-card:hover > .btn-custom {opacity: 1; display: block;}
.theme.current.custom:hover .theme-img {-webkit-filter: blur(5px);-moz-filter: blur(5px);-ms-filter: blur(5px);-o-filter: blur(5px);filter: blur(5px);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=15, MakeShadow=false);}

.color-tile {display: block; float: left; width: 34px; height: 34px; border-radius: 4px; border: 1px solid #ccc; margin: 2px 4px 2px 0; cursor: pointer; transition: all 0.4s; text-align: center; line-height: 32px;}
.color-tile:hover, .color-tile.active {border-color: #333; box-shadow: 0 1px 4px rgba(0,0,0,0.5)}
.input-group.color {width: 200px; margin: 2px 4px 2px 0;}
.color .icon-ok, .color .icon-question {display: none}
.color.active .icon-ok, .color.error .icon-question {display: inline;}
.color.active.error .icon-ok {display: none}
.color .input-group-addon {min-width: 40px; text-align: center;}
