.cards {padding: 0; margin: 0;}
.col-card {margin: 0;}
.card {position: relative; margin-bottom: 20px; overflow: visible; min-height: 302px; padding-right: 350px;}
.cards > .col-card:last-child .card {margin-bottom: 0;}
.teamplate-choosed {display: none}
.card.current .teamplate-choosed {display: block; position: absolute; font-size: 28px; color: #fff; background: #229F24; width: 50px; height: 50px; right: 0; top: 0; text-align: center; padding-left: 10px; line-height: 35px; border-bottom-left-radius: 50px; z-index: 99}
.card .card-actions {position: absolute; right: 350px; top: 5px; padding: 10px 20px}
.template-img {width: 350px; position: absolute; right: 0; top: 0; bottom: 0; box-shadow: -1px 0 5px rgba(0,0,0,0.14); background: #f1f1f1}
.themes-tip {display: inline-block; border-radius: 16px; background: #ddd; padding: 6px 12px; position: relative;}
.current-theme-tip {display: none}
.card.current .current-theme-tip {display: inline;}
.themes-list {padding: 6px; border-top: 1px dashed #ddd}
.theme {width: 130px; float: left; cursor: pointer; margin: 6px 10px}
.theme-name {padding: 5px 0; background-color: #f1f1f1}
.theme-card {overflow: hidden; border: 1px solid #aaa; border-radius: 4px; border-radius: 4px; opacity: 0.8; position: relative;}
.theme-card > .icon {position: absolute; right: 0; top: 0; display: none;}
.theme-img {height: 65px; overflow: hidden; opacity: 0.8}
.theme:hover .theme-img {opacity: 1;}
.card-template.current .theme.current > .theme-name {color: #47A447}
.card-template.current .theme.current .theme-card > .icon {position: absolute; right: 0; top: 0; display: block; color: #fff; background: none; width: 0; height: 0; border: 20px solid #229F24; border-left-color: transparent; border-bottom-color: transparent;}
.card-template.current .theme.current .theme-card > .icon:before {position: absolute; right: -15px; top: -15px}
.card-template.current .theme.current .theme-img {border-color: #47A447; opacity: 1}
.card-template.current .theme.current .theme-card {border-color: #47A447; -moz-box-shadow:0px 0px 6px #47A447; -webkit-box-shadow:0px 0px 6px #47A447; box-shadow:0px 0px 6px #47A447; opacity: 1}
