/*
   Chanzhi custom theme

   The file build by system automatically.
   Options:
   ( '*' mark the key option)

   * colorBackgroud:           #FFFFFF;
   * colorFore:                #333;
   * colorBorder:              #e5e5e5;
   * backgroundImage:          none;
   * fontSize:                 14px;
   * colorPrimary:             #F4E6AE;
     colorPrimaryR:            244;
     colorPrimaryG:            230;
     colorPrimaryB:            174;
     colorPrimaryRgb:          244, 230, 174;
     colorPrimaryInverseDim:   #191919;
     colorPrimaryInverse:      #333333;
   * colorSecondary:           #e2d18b;
     colorSecondaryR:          226;
     colorSecondaryG:          209;
     colorSecondaryB:          139;
     colorSecondaryRgb:        226, 209, 139;
     colorSecondaryDark:       #dcc876;
     colorSecondaryLight:      #e1d08a;
     colorPale:                #ffffff;
   * borderRadius:             0;
   * avatarBorderRadius:       20px;
   * borderWidth:              1px;
   * borderStyle:              solid;
*/

/* ZUI theme */
a {color: #F4E6AE;}
a:hover, a:focus {color: #e2d18b;}

.btn-primary {color: #191919; background-color: #F4E6AE; border-color: #e2d18b;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #333333; background-color: #e2d18b; border-color: #e2d18b;}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {background-image: none;}
.btn-link {color: #F4E6AE;}
.btn-link:hover, .btn-link:focus {color: #e2d18b;}

.label-primary {background-color: #F4E6AE;}
.label-primary[href]:hover, .label-primary[href]:focus {background-color: #e2d18b;}
.label-primary[href]:hover, .label-primary[href]:focus {background-color: #e2d18b;}

.text-primary {color: #F4E6AE;}
.text-primary:hover, .text-link:hover, .text-link:active{color: #e2d18b;}

.form-control:focus {border-color: #e2d18b; -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 230, 174, 0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 230, 174, 0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 230, 174, 0.6);}

.ke-container.focus, .ke-input-text:focus {border-color: #e2d18b !important; -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 230, 174, 0.6) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 230, 174, 0.6) !important; box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 230, 174, 0.6) !important;}
.ke-menu-item-on, .ke-colorpicker-cell-on {background-color: #F4E6AE !important;}

a.list-group-item:hover, a.list-group-item:focus {background-color: #e2d18b; color: #191919;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color: #F4E6AE; color: #333333;}

.nav-primary > li.active > a,
.nav-primary > li.active > a:hover,
.nav-primary > li.active > a:focus {background-color: #F4E6AE; border-color: #e2d18b;}

.pager > .active > a, .pager > .active > span, .pager > .active > a:hover, .pager > .active > span:hover, .pager > .active > a:focus, .pager > .active > span:focus {background-color: #F4E6AE;}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {background-color: #ffffff;}
.table tr > td.active, .table tr > th.active, .table tr.active > td, .table tr.active > th {background-color: #ffe4e5;}
table.tablesorter thead tr .headerSortUp:after,table.tablesorter thead tr .headerSortDown:after {color: #F4E6AE !important;}

.chosen-container-single .chosen-search:focus, .chosen-container-active .chosen-single, .chosen-container-active .chosen-choices {border-color: #F4E6AE !important;}
.chosen-container .chosen-results li.highlighted {background-color: #e2d18b !important;}
.chosen-container-active.chosen-with-drop .chosen-single {border-color: #cbcbcb !important; border-color: rgba(0, 0, 0, 0.15) !important;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {background-color: #F4E6AE;}

.messager-primary {background-color: #F4E6AE}

a.card:hover, .card:hover a {color: #F4E6AE;}

.comment:hover > .content > .actions > a {color: #F4E6AE;}

.btn, .form-control {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.ke-container {-moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; border-radius: 0 !important;}

/* Background */
body {color:#333; background-color: #FFFFFF; background-image: none; font-size: 14px; background-attachment: fixed;}

/* Navbar */
#navbar
{
    border-color: #dcc876;
    background: #e2d18b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#navbar .nav > li:first-child > a
{
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
#navbar .nav > li:last-child > a
{
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
#navbar .nav > li > a
{
    color: #191919;
    background: #e2d18b;
    border-left: 1px solid #dcc876;
    border-right: 1px solid #e1d08a;
}
#navbar .nav > li > a:hover,
#navbar .nav > li.active > a,
#navbar .nav > li.active > a:hover
{
    color: #333333;
    background: #F4E6AE;
}

#navbar .caret {border-top-color: #191919; border-bottom-color: #191919;}
#navbar .dropdown-menu, #navbar .dropdown-menu > li:last-child > a {-webkit-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; border-radius: 0 0 0 0;}
#navbar .dropdown-menu .dropdown-menu {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
#navbar .dropdown-menu .dropdown-menu > li:first-child > a {-webkit-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; border-radius: 0 0 0 0;}
#navbar .dropdown-submenu:hover > a:after {border-left-color: #191919;}
#navbar .dropdown-menu > li > a:hover, #navbar .dropdown-menu > li > a:focus, #navbar .dropdown-submenu:hover > a, #navbar .dropdown-submenu:focus > a {background: #e1d08a; color: #333333}

@media (max-width: 767px)
{ 
    #navbar .nav > li:last-child > a, #navbar .nav > li:first-child > a {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
    #navbar .navbar-collapse {border-color: transparent;}
    #navbar .navbar-toggle:hover, #navbar .navbar-toggle:focus {background-color: #F4E6AE}
}

/* List */
.list {background-color: #FFFFFF; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.list > header
{ 
    background: #e2d18b;
    color: #191919;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

/* Carousel */
.carousel {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.right.carousel-control {-webkit-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; border-radius: 0 0 0 0;}
.left.carousel-control {-webkit-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; border-radius: 0 0 0 0;}

/* Panel */
.panel {overflow: hidden; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.panel > .panel-heading
{
    background: #e2d18b;
    color: #191919;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.panel-block.panel-borderless .panel-heading {color: #333;}

/* Footer */
#footer, #powerby {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}

/* Go2top */
#go2top {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}

/* Avatar */
.avatar, .avatar-empty {-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;}

/* Article */
.article {background-color: #FFFFFF; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.article-files > li:hover .file-actions > a, .article-files > li .file-actions > a:hover {background-color: #F4E6AE}
/* Thread */
.thread .panel-heading {backgroundImage: none !important}

/* Blog */
/* style of blogNav */
#blogNav{background: #e2d18b; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
#blogNav .nav > li > a {font-weight: bold; color: #191919}
#blogNav .navbar-nav > li:first-child > a {-moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0; border-radius: 0 0 0 0;}
#blogNav .navbar-nav > li:last-child > a {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
#blogNav .navbar-nav.navbar-right > li:first-child > a {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
#blogNav .navbar-nav.navbar-right > li:last-child > a {-moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0; border-radius: 0 0 0 0;}
#blogNav .nav > li > a:hover {background: #F4E6AE; color: #333333}
#blogNav .nav > li.active > a, #blogNav .nav > li.active > a:hover, #blogNav .nav > li.active > a:focus {background: #F4E6AE; #333333}

/* responsive */
@media (max-width: 767px)
{
    #blogNav .nav {margin: 0}
    #blogNav .navbar-nav > li{display: block; float: left; width: 33.333333333%}
    #blogNav .navbar-nav > li > a, #blogNav .navbar-nav > li:first-child > a, #blogNav .navbar-nav > li:last-child > a, #blogNav .navbar-nav.navbar-right > li:first-child > a, #blogNav .navbar-nav.navbar-right > li:last-child > a{text-align: center; padding: 5px; margin: 5px;-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
    #headTitle {position: static; margin-top: 0;}
    .card {margin-bottom: 10;}
    #blogNav .navbar-nav > li {width: 20%}
}
@media (max-width: 480){#blogNav .nav > li{width: 33.333333333333%;}}
@media (max-width: 480) {#blogNav .nav > li{width: 50%;}}

/* style of footer */
#footNav .icon-rss-sign{color: #F4E6AE}
#footNav .icon-rss-sign:hover{text-decoration: none; color: #e2d18b}

/* articles */
#articles .card{background: #FFFFFF; padding: 5px 5px 0;border: 1px solid #e5e5e5;box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
#articles .card-heading a{font-weight: bold; color: #F4E6AE}
#articles .card .media{max-width: 200; max-height: 100}
#articles .card .media img{max-height: 100%}

/* pager */
.page-blog .pager{margin-bottom: 20;display: block;}
.page-blog .pager .page{padding: 0}
