.card{color: black;
     }

.text-success{color : olivedrab;  
              margin: 10px;
             }

a:hover{color: olivedrab;}
.text-success{padding: 0 10px 10px} 
.right-footer{text-align: right}

