/* global style. */
body{background-color: #2e353f;  color: #2e353f;}

a{color: #da3b26; -webkit-transition: 0.25s; -moz-transition: 0.25s; -o-transition: 0.25s; transition: 0.25s; -webkit-backface-visibility: hidden;}
a:hover{color: #da3b26;}

body>.container>hr{display: none;}
footer{margin: 20px 0;text-align: left;color: #c9c9c9;}
.breadcrumb,.container>form,#header #slogan{color: #c9c9c9;}
#comments{background-color: #ECF0F5;}
#links,#poweredBy a{color: #ECF0F5;}

/* headNav. */
#headNav{top: 15px; background-color: #808080; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#headNav .divider{padding: 0; margin: 0; border-left: 1px solid #666; border-right: 1px solid #999; text-indent: -999em;}
#headNav .login-msg{display: inline-block; padding-left: 20px; color: #f1f1f1;}
#headNav a{color: #f1f1f1; display: inline-block; padding: 10px 15px; background-color: #808080; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;}
#headNav a:first-child{padding-left: 25px; -moz-border-radius:2px 0 0 2px; -webkit-border-radius:2px 0 0 2px; border-radius:2px 0 0 2px; }
#headNav a:last-child,#headNav span:last-child > a {padding-right: 25px; -moz-border-radius:0 2px 2px 0; -webkit-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;}
#headNav .caret{border-top-color: #f1f1f1; border-bottom-color: #f1f1f1;}
#headNav .dropdown-menu a {display: block;background-color: #fff;color: #333;}
#headNav a:hover{background-color: #da3b26; color: #fff; text-decoration: none; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;}

/* name style. */
#name h3{font-size: 32px;margin: 20px 0;color: #fff}

/* topNav settings.*/
#topNav a,#topNav li,#topNav li ul{border: none;}
#topNav>ul {background: #808080; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; border: none;}
#topNav>ul a{color: #f1f1f1; border:none; background: #808080;}

#topNav>ul>li{border-width: 0; display: inline-block; width: auto; color: #f1f1f1;margin: 0;}
#topNav>ul>li>a,#topNav>ul>li:last-child>a{border-width: 0; border:none; color: #f1f1f1; }
#topNav>ul>li>a{color: #f1f1f1;}
#topNav>ul>li:first-child>a{-moz-border-radius:2px 0 0 2px; -webkit-border-radius:2px 0 0 2px; border-radius:2px 0 0 2px;}
#topNav>ul>li:last-child>a{-moz-border-radius:0 2px 2px 0; -webkit-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;}
#topNav a:hover,#topNav>ul>li>a:hover,#topNav>ul>li>ul>li a:hover,#topNav>ul>li>ul>li.hover>a{color:#f1f1f1; background: #da3b26;}

#topNav>ul>li>a{background: #808080;border: none;}
#topNav>ul>.active>a, #topNav>ul>.hover>a, #topNav>ul>.active>a:hover, #topNav>ul>.active>a:focus {box-shadow:none;background: #c9c9c9;color: #fff;}
#topNav>ul>.active>a{color: #da3b26;}
#topNav>ul>.hover>a{background: #da3b26;color: #fff;}
/* topNav children settings.*/
#topNav>ul>li>ul,#topNav>ul>li>ul>li>ul{-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; padding: 5px; background: #808080; border: none;}
#topNav>ul>li>ul a{text-align: left; padding:10px 15px; border: none; color: #f1f1f1; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#topNav>ul>li>ul>li>ul{left: 140px;}

/* carousel. */
.carousel-inner,.carousel .item,.carousel img,.carousel-control{-moz-border-radius: 2px !important;-webkit-border-radius: 2px !important;border-radius: 2px !important;}

/* Panel. */
.panel,.box-radius,.box.radius{-moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; background: #ECF0F5; border: none; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.panel-heading{-webkit-border-top-left-radius:2px; -webkit-border-top-right-radius:2px; -moz-border-radius-topleft:2px; -moz-border-radius-topright:2px;border-top-left-radius:2px; border-top-right-radius:2px;}
.panel-default>.panel-heading{background-color: #c9c9c9;color: #2e353f}

body.index .panel>.panel-heading{background-color: #c9c9c9;margin: 0;border: none;}
body.index .panel>.panel-heading h3{font-size: 20px;}

#reg .box-radius{padding:10px 0;}

/* buttons. */
.btn{border: none; padding: 8px 12px; -webkit-transition: 0.25s linear; -moz-transition: 0.25s linear; -o-transition: 0.25s linear; transition: 0.25s linear; -webkit-backface-visibility: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.btn-primary{background: #808080;}
.btn-primary:hover{background: #da3b26;}
.btn-default{color: #f1f1f1; background: #2C3E50;}
.btn-default:hover{color: #fff; background: #34495E;}

/*form controls.*/
.ke-container, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{border: 1px solid #bdc3c7; color: #34495e; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 15px; padding: 6px 12px; height: 36px; -webkit-appearance: none; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; -moz-transition: border .25s linear, color .25s linear, background-color .25s linear; -o-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear; -webkit-backface-visibility: hidden;}
textarea{height: auto;}
textarea.area-1{min-height: 60px;}

.ke-container,.chosen-choices{border: 1px solid #bdc3c7 !important; height: auto;}
.chosen-container-active .chosen-choices{border-color: #1abc9c !important;}
select:focus,textarea:focus,input:focus, select:hover,textarea:hover,input:hover, select.hover,textarea.hover,input.hover{border-color: #da3b26; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

/* table. */
.table{border: none;-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.2); box-shadow:0px 1px 1px rgba(0,0,0,0.2);}
.table td,.table th{background: #ECF0F5; border: none;}
.modal-content .table td,.modal-content .table th{background-color: #fff;}
.table caption{background: #c9c9c9;color: #2e353f; height: 45px; padding: 2px 15px;-moz-border-radius: 2px 2px 0 0;-webkit-border-radius: 2px 2px 0 0;border-radius: 2px 2px 0 0;}
.table.table-hover tr td:first-child{padding-left: 1em;}
.table tr:last-child td,.table{-webkit-border-bottom-left-radius:2px; -webkit-border-bottom-right-radius:2px; -moz-border-radius-bottomleft:2px; -moz-border-radius-bottomright:2px; border-bottom-left-radius:2px; border-bottom-right-radius:2px;}
.table-form tr:last-child td{padding-bottom: 20px;}
.table-form tr:first-child td{padding-top: 20px;}

/*list group.*/
.list-group-item,a.list-group-item,.leftmenu > li > a{color: #fff; border: none; background-color: #808080;padding: 14px 20px;}
.list-group-item.list-group-title{background-color: #c9c9c9;color: #2e353f;}
a.list-group-item:hover,.leftmenu > li > a:hover{background-color: #da3b26;color: #FFF;}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus, .leftmenu > li.active > a,.leftmenu > li.active > a:hover {color:#fff;background-color: #da3b26;border-bottom: none}
.radius-top,.list-group-item:first-child {-moz-border-radius: 2px 2px 0 0;-webkit-border-radius: 2px 2px 0 0;border-radius: 2px 2px 0 0;}
.radius-bottom,.list-group-item:last-child {-moz-border-radius: 0 0 2px 2px;-webkit-border-radius: 0 0 2px 2px;border-radius: 0 0 2px 2px;}
/* admin navbar. */
.navbar-inverse{background-color: #808080;border-bottom: 0;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover{background-color: #c9c9c9; color: #da3b26;}
.navbar-inverse .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus , .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{background-color: #da3b26; color: #fff;}

/* The right chevron settings. */
.leftmenu .icon-chevron-right {float:right; margin-top:2px; margin-right:-6px; opacity:.25;}
.leftmenu a:hover .icon-chevron-right {opacity:.5;}
.leftmenu .active .icon-chevron-right, .leftmenu .active a:hover .icon-chevron-right {opacity:1;}

/* shortcut. */
.shortcut{-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
