.chart-canvas{margin:10px auto;}
#switchBar {padding-top:10px;}
#switchBar label{margin: 0 5px; font-weight:normal; cursor:pointer; color:blue;}
#switchBar label.active{color:#333; font-weight:bold;}

.table-report{ border:1px solid #ddd !important; }
#reportData{ margin-top:50px;}
#reportData thead tr td { font-weight:bold; background:#EFEFEF;}

.lineTypeBar{ padding: 20px;}
.panel-heading > a { display: inline-block; margin: -3px 3px; line-height: 26px;padding: 0 10px}
.panel-heading > a.active { border-radius: 13px; background-color: #3280FC;color: #fff}
.panel-heading .nav-tabs{border-bottom: none;}
