.panel > .list-group {padding-left: 0; margin-bottom: 0;}
.list-group-item {background-color: #fff; border-bottom: 1px solid #ddd; display: block; padding: 10px 15px; position: relative;}
.list-group .list-group-item:last-child {border-bottom-width: 0;}
