.media-placeholder {display: block; width: 100%; height: 100%; color: #fff; font-weight: bold; padding: 10px; font-size: 24px; word-spacing:normal; word-break:break-all; text-align: center; text-shadow: 1px 1px 0 rgba(255,255,255,.5), 4px 4px 0 rgba(0,0,0,.2); display: table-cell; vertical-align: middle; width: 100%;}
.card-img.holder {display: table; width: 100%;}
.cards-products .media-placeholder {height: 150px;}
