/* Animations */
@keyframes hightlight
{
  from {background: rgba(0, 255, 0, .1); border-color: #ddf4df}
  to {background: rgba(0, 255, 0, .3); border-color: #38b03f}
}

@-moz-keyframes hightlight /* Firefox */
{
  from {background: rgba(0, 255, 0, .1); border-color: #ddf4df}
  to {background: rgba(0, 255, 0, .3); border-color: #38b03f}
}

@-webkit-keyframes hightlight /* Safari and Chrome */
{
  from {background: rgba(0, 255, 0, .1); border-color: #ddf4df}
  to {background: rgba(0, 255, 0, .3); border-color: #38b03f}
}

/* Visual panel */
#visualPanel {padding: 10px; border: 1px solid #ddd; box-shadow: 0 1px 5px rgba(0,0,0,.124); position: fixed; right: -1px; top: -1px; background-color: rgba(255, 255, 255, 0.85); z-index: 950;}
#visualPanel .btn + .btn {margin-left: 10px;}

/* Visual editable area */
.ve {position: relative; overflow: hidden;}
.ve:before {content: ' '; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border: 1px solid rgba(0, 255, 0, .2); z-index: 960; cursor: pointer; background: rgba(0, 255, 0, .1);}
.ve:hover::before, .ve.ve-editing:before {animation: hightlight .8s alternate infinite}

.ve-hint {background-color: #38b03f; color: #fff; font-size: 13px; position: absolute; top: 0; padding: 2px 5px; right: 0; z-index: 2010; line-height: 20px; right: 0; transition: opacity .2s; opacity: 0; cursor: pointer;}
.ve:hover .ve-hint {opacity: 1}

body.ve-preview-in .ve:before {display: none!important}
