/* Animations */
@keyframes hightlight
{
  from {box-shadow: 0 0 12px rgba(71,164,71, 0.1);}
  to {box-shadow: 0 0 18px rgba(26,128,26, 0.8),0 0 12px rgba(71,164,71, 0.5);}
}

@-moz-keyframes hightlight /* Firefox */
{
  from {-moz-box-shadow: 0 0 12px rgba(71,164,71, 0.1);}
  to {-moz-box-shadow: 0 0 18px rgba(26,128,26, 0.8),0 0 12px rgba(71,164,71, 0.5);}
}

@-webkit-keyframes hightlight /* Safari and Chrome */
{
  from {-webkit-box-shadow: 0 0 12px rgba(71,164,71, 0.1);}
  to {-webkit-box-shadow: 0 0 18px rgba(26,128,26, 0.8),0 0 12px rgba(71,164,71, 0.5);}
}

/* Visual editable area */
.ve {position: relative; overflow: visible;}
.ve-cover {cursor: pointer; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border: 1px solid rgba(0, 255, 0, .2); z-index: 960; cursor: pointer; background: rgba(0, 255, 0, .1);}
.ve:hover .ve-cover, .ve.ve-editing .ve-cover {animation: hightlight .8s alternate infinite ease-in-out; background: transparent; border: 1px solid #38b03f!important}

.ve-heading {background-color: #38b03f; background-color: rgba(56, 176, 63, 0.9); color: #fff; font-size: 13px; position: absolute; top: 0; padding: 0; left: 0; z-index: 960; line-height: 20px; right: 0; transition: opacity .2s; opacity: 0; visibility: hidden;}
.ve-name {display: inline-block; padding: 0 5px; text-shadow: 1px 1px 1px rgba(0,0,0,.1); font-weight: bold;}
.ve-actions {float: right; display: block; margin: 0; padding: 0;}
.ve-actions > li {float: left; display: block; padding: 0 3px; min-width: 20px; text-align: center; cursor: pointer; margin-left: 1px; background-color: rgba(0,0,0,.2);}
.ve-invisible .ve-cover {border: 1px dashed rgba(0, 255, 0, .4)}
.ve-invisible .ve-heading {opacity: 1; visibility: visible; background: none; color: #38b03f}
.ve-invisible .ve-actions > li {background: none;}
.ve-invisible:hover .ve-actions > li {background-color: rgba(0,0,0,.2);}
.ve-actions > li:hover {background-color: rgba(0,0,0,.4)!important;}
.ve-actions > li.ve-action-delete:hover {background-color: #b93015!important;}
.ve:hover .ve-heading, .ve.ve-editing .ve-heading {opacity: 1; visibility: visible; background-color: #38b03f; background-color: rgba(56, 176, 63, 0.8); color: #fff;}

.ve[data-ve='slogan'], .ve[data-ve='logo'] {min-width: 120px;}

.block.ve {min-height: 22px; margin-bottom: 14px;}

.btn-ve {border-radius: 1px; border: 1px dashed #38b03f; color: #38b03f; background: #fff; text-shadow: none; font-size: 14px}
.btn-ve:hover {background: rgba(0, 255, 0, .1);; color: #38b03f; text-shadow: none; border: 1px solid #38b03f}

body.ve-preview-in .ve-cover, body.ve-preview-hover .ve-cover, body.ve-preview-in .ve-preview-hidden, body.ve-preview-hover .ve-preview-hidden {display: none!important}
body.ve-preview-in .block.ve, body.ve-preview-hover .block.ve {min-height: none; margin-bottom: auto;}

.blocks {transition: padding .2s, margin .2s, border .2s}
.blocks.sortable-sorting {border: 1px dashed #38b03f; padding: 14px 7px 0; margin: 0 -14px 14px;}
.blocks.sortable-sorting .panel-block {border: none;}
.blocks.sortable-sorting .ve-cover {background-color: rgba(255,255,255,.3); border-color: #ddd}
.blocks.sortable-sorting .drop-to .ve-cover {border: 2px dashed #38b03f; background-color: rgba(255,255,255,.8);}
.blocks.sortable-sorting .drag-shadow {z-index: 1050; cursor: move;}
.blocks.sortable-sorting .drag-shadow > * {z-index: 1050; opacity: .7}
.blocks.sortable-sorting .drag-shadow .ve-cover {border: 2px solid #38b03f; background-color: transparent; box-shadow: 1px 5px 15px rgba(0,0,0,0.5)!important;}

.blocks.page-side .ve-block-actions {margin-bottom: 14px;}
.blocks.row .ve-block-actions {margin: 0 7px 14px;}
.blocks.sortable-sorting .ve-block-actions {display: none}
.ve-block-actions .btn-ve {padding: 10px}
