.article-title{margin: 0;}
.article-title a{color: #5A5A5A;}
.article-title a:hover, .article-title a:active{color: #4691EF; text-decoration: none;}

ul.media-list li.media img.thumbnail {margin: 10px auto;}
