.card.comment .card-content{margin:10px; padding-bottom:4px; padding-left:0;}
.reply{padding-left:15px;}
.reply .card-content{margin:0;}

.mgb-0{margin-bottom:0; border-bottom:none; border-radius:3px 3px 0 0;}
.icon-reply{background:none;border:none;}
