#leftmenu .list-group-item{padding-left: 1.5em;}
#leftmenu .list-group-item i{display: inline-block;margin-right: 1em;font-weight: normal;}
#leftmenu .list-group-item i.icon-chevron-right{float: right;margin-top: 2px;margin-right: -6px;opacity: .25;}
#leftmenu .list-group-item:hover i.icon-chevron-right,#leftmenu .list-group-item.active i.icon-chevron-right{opacity: .9};