.table.table-form th, .table.table-form td{padding: 6px 10px 6px 6px;}
.color-tile {display: block; float: left; width: 30px; height: 30px; border-radius: 4px; border: 1px solid #ccc; margin: 2px 2px 0 0; cursor: pointer; transition: all 0.4s; text-align: center; line-height: 30px;}
.color-tile:hover, .color-tile.active {border-color: #333; box-shadow: 0 1px 4px rgba(0,0,0,0.5)}
.colorplate {float: left; width: 100%;}
.colorplate .input-group-btn {width: 50%}
.colorplate .input-group-btn > .btn {width: 100%; border-right: none}
.color .icon-ok, .color .icon-question {display: none}
.color.active > .icon-ok, .color.error > .icon-question, .color.active .input-group-btn > .dropdown-toggle > .icon-ok, .color.error .input-group-btn > .dropdown-toggle > .icon-question {display: inline;}
.color.active.error .icon-ok {display: none}
.color .input-group-addon {min-width: 40px; text-align: center;}
.color .btn{text-shadow: none;}

.dropdown-menu.colors {padding: 5px; width: 205px}


#ajaxForm {position: relative;}
#panelPreview {padding: 12px 20px; position: absolute; right: 20px; width: 40%; border-radius: 6px; background-color: #f5f5f5}
#panelPreview > .heading {margin-bottom: 10px;}
#panelPreview > .heading > .pull-right {position: relative; top: -3px}
#panelPreview > .heading > .pull-right > .btn {padding: 2px 10px}
#panelPreview > .panel {margin-bottom: 0;width: 100%; margin: 0 auto; line-height: 20px; cursor: pointer;}
#titleTDCell > .required-wrapper {width: 50%;}
