.panel-heading > a { display: inline-block; margin: -3px 3px; line-height: 26px;padding: 0 10px}
.panel-heading > a.active { border-radius: 13px; background-color: #3280FC;color: #fff}
dl.alert{margin-top: 10px;}
dl.alert dl.alert{margin-bottom: 0;}
.reply-alert {max-height: 100px; overflow-y: scroll;}
dl.alert dd{display:inline-block; margin-right: 20px;}
