.table-bordered tr td.content-box{border-left: 1px solid #DDD; border-bottom: 1px solid #DDD;}
td.content-box{padding: 8px 0;}
.content-box textarea{width: 95%; margin: 0; border: none; resize: none; box-shadow: none;}
.content-box textarea:focus{margin: 0; border: none; box-shadow: none;}

caption{padding:0;}
#statusNav{margin:0; }
caption ul li{padding: 0;}
.nav-tabs a{color:#; font-size:14px; font-weight:normal;}
.nav-tabs .active a{color:#333;}
.nav-tabs .active .first-nav{border-left:none;}
td .icon{display: inline-block;line-height: 20px;vertical-align: top;}
.icon-qq{background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAABhlBMVEUAAAADAwSgWQAWFhb/jwfQo2f/00//nAcfHx8JCgoDAwMfHx8kJCSeAQH+mg//ugH/uz7/rBb/qRL+mgsGBgb/tzoJCQktNkIeHh7/txUeHh4hFBQbGxsYGBgnJiYAAAAHBwcBAgIiIiIYGBgtPEwAAwUsISEcKCgAAgKpAAAAAAACAQG4AAD///8AAAD9/f0mJiYkIiHDAQDuAgBZV1bp/P/MtGPe6/+8xtX8//8wMDBISkrykYQpKyshLTMNMDjlAQBhPxfaAACHbA1lYiODgBL/vBm/nmTFpmr4xkWpkGHg6vz2wDzCw8QcHBz09vaahFkjOzzi+v8pBAPNm5b77+7/c1gODQ3Lz9BDXF/pmpHYFAr/a1L1fGqhDAkUFBRCQkJce3v+wrggJi7n5+dycnFvFBXU1NRtNCJYVScsNkLkg4E2UlO5AADJenhGAQFuSgi3vMROT1OUVh1iXl2AgodLUSoWJzHIAQCutL6QDQpubm7gSz94TgWDUCBYFh1OKie3EQUpe5iAAAAALXRSTlMAVUBGGt/WDT0weMfkZ7Ef1LGmpErWhoB9920JWIWosak4ZKy1bxb3J62iHrKPnavPAAAA5klEQVQY02PACziVpDjQxTiUeXi4mVHFZA1srQwMDCSQxWQME9JNTFKs/ZBN4I6v1i0q1U0Nl0OIqdkZ2lWWmBRmGapLwwV5be0da11cChztDXjhgjpV5WXOrq7OmclxmjAx7fyKxvqGuuKMNCOjYE6ImIZWTp6Rg5OTg7FxdEigPESUSy8xO7fGJiYsNipU11qPCyyooBdpY5ykCwb+VnpiYEFmRdUIXX19S0t9fV1fRkYRmFUqQRCF3uJIPmIKsDA3NTW38GJCiLFL+ph5sLK6m3m68SMEhUXZBFnYhdgE+FgYSAIAOsorfUP82BQAAAAASUVORK5CYII=");display: inline-block;width: 20px;height: 20px;}
