.media
{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  position: relative;
  padding-left: 60px;
}
.media .icon
{
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 30px;
  color: #aaa;
}
.media .content
{
  padding: 10px 0;
}
