/* --- NAVBAR --- */
#navbar {border-color: #1252b7}
#navbar .nav > li > a {color: #f1f1f1;}
@media (min-width: 768px)
{
  #navbar .nav > li > a {background-color: #145bcc; background-repeat: repeat-x;background-image: -moz-linear-gradient(top, #2c6cd1 0%, #1252b7 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c6cd1), color-stop(100%,#1252b7));background-image: -webkit-linear-gradient(top, #2c6cd1 0%,#1252b7 100%);background-image: -o-linear-gradient(top, #2c6cd1 0%,#1252b7 100%);background-image: linear-gradient(top, #2c6cd1 0%,#1252b7 100%);border-left: 1px solid #2c6cd1;border-right: 1px solid #1252b7;}
  #navbar .nav > li > a:hover{background-color: #5f9bfe;color: #fff;background-image: -moz-linear-gradient(top, #5f9bfe 0%, #2d73e2 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f9bfe), color-stop(100%,#2d73e2));background-image: -webkit-linear-gradient(top, #5f9bfe 0%,#2d73e2 100%);background-image: -o-linear-gradient(top, #5f9bfe 0%,#2d73e2 100%);background-image: linear-gradient(top, #5f9bfe 0%,#2d73e2 100%);}
  #navbar .nav >li.active>a,#navbar .nav >li.active>a:hover,#navbar .nav >li.active>a:focus {background-color: #4d90fe;color: #fff;}
}

#navbar .caret{border-top-color: #f1f1f1; border-bottom-color: #f1f1f1;}
#navbar ul.nav > li > a:hover,#navbar ul.nav > li > ul > li > a:hover,#navbar ul.nav > li > ul > li > ul > li > a:hover{background-color: #3280fc; color: #fff}

@media (max-width: 767px)
{
  .navbar-default .navbar-brand {color: #f1f1f1}
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{color: #FFF; background-color: #2973EA;}
  .navbar-default .navbar-collapse {border-top: 1px solid #7198d4}
}
/* Panel. */
.panel > .panel-heading,.nav-stacked.nav-primary>li.nav-heading,.list > header, #navbar {background-color: #145bcc; background-repeat: repeat-x;background-image: -moz-linear-gradient(top, #2c6cd1 0%, #1252b7 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c6cd1), color-stop(100%,#1252b7));background-image: -webkit-linear-gradient(top, #2c6cd1 0%,#1252b7 100%);background-image: -o-linear-gradient(top, #2c6cd1 0%,#1252b7 100%);background-image: linear-gradient(top, #2c6cd1 0%,#1252b7 100%);color: #fff;border-color:#145bcc;}
.panel.panel-pure .panel-heading{color: #666;border-color: #ddd}
